include includes/mixins

doctype 
html(lang="es")
    head 
     include includes/header.pug

    script(src='/js/commands.js', defer)
    link(rel='stylesheet', href='/css/commands.css')
    

    include includes/navbar.pug
    .container
        .jumbotron.text-center.bg-transparent
            h1.display-3 Commands
            p.lead View the commands for AtomicBoot
            hr

            section#commands
                .d-flex.justify-content-center
                    #search.form-group.p-3
                        input.form-control(type='search').text-center
                    button.btn
                     i.fas.fa-search
                .row
                    .col-sm-3.text-left.categories
                          ul.list-group.mb-2
                            each category in categories
                                +category(category)
                    .col-sm-9.text-left.commands
                         ul.list-group.mb-2
                            each cmd in commands
                                +command(cmd)
                